<header>
  <h1>Ember Blog</h1>
  <p>
    Simple blog application written with Ember 2.0 and dynamodb
  </p>
</header>
<br>
{{link-to 'Home' 'index'}}
{{link-to 'Create post' 'post-new'}}
<hr>
{{outlet}}
