<b>Title</b> : <br>
{{input type="text" value=model.title placeholder="title..."}}<br>
<b>Body</b> : <br>
{{input type="text" value=model.body placeholder="body..."}}<br>
<br>
<button {{action 'update'}}>Update</button>
<button {{action 'delete'}}>Delete</button>
